@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --text-color: #FFF;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}